/* Below animations are fore modal created using React-Modal */
.ReactModal__Overlay {
  transition: transform 300ms ease-in-out;
  transition-delay: 100ms;
  transform: scale(0);
  /* transform: translateY(-150%); */
}

.ReactModal__Overlay--after-open {
  transform: scale(1);
  /* transform: translateY(0%); */
}

.ReactModal__Overlay--before-close {
  transform: scale(0);
  /* transform: translateY(-150%); */
}
button:focus {
  outline: none !important;
}

th,
td {
  text-align: left;
  border: 1px solid #ebebeb;
  padding: 10px 14px;
}

th {
  font-style: normal;
  font-weight: 700;
}
.text-right {
  text-align: right;
}
order-table {
  border: 1px solid #ebebeb;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.order-table tfoot {
  border-top: 1px solid #333232;
}
.order-table th,
.order-table td {
  border: 0;
  padding: 10px 0;
}
.order-table tfoot tr:first-child th,
.order-table tfoot tr:first-child td {
  padding-top: 1.25em;
}
.order-table tbody th,
.order-table tfoot th {
  font-weight: normal;
  text-transform: none;
  letter-spacing: 0;
}
.order-table thead {
  border-bottom: 1px solid #333232;
}
.order-table tfoot tr:last-child th,
.order-table tfoot tr:last-child td {
  border-top: 1px solid #333232;
  font-weight: 700;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  text-transform: uppercase;
}
@media only screen and (min-width: 750px) {
  #shop-filter {
    padding-top: 10px;
    padding-left: 18px;
    padding-right: 9px;
    padding-bottom: 10px;
  }
  .order-table tfoot tr td,
  .order-table tfoot tr th {
    vertical-align: bottom;
  }
  .cart__image-wrapper {
    padding-right: 2.5rem;
    flex: 8rem 0 0;
  }
  input,
  textarea {
    padding: 10px 18px;
  }
  .cart__meta {
    width: 40%;
  }
  .toolbar-wrapper {
    margin-bottom: 55px;
  }
}

.productDescription li {
  list-style-type: disc;
}
/* .cart__row--heading {
  color: #3a3a3a;
} */

.cart__row {
  border-bottom: 1px solid #ebebeb;
}

.cart__qty-input {
  text-align: center;
  width: 60px;
  padding-left: 0.33333em;
  padding-right: 0.33333em;
}

input,
textarea,
select,
.disclosure__toggle {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
  max-width: 100%;
  line-height: 1.2;
  border-radius: 2px;
}

select,
input:focus {
  outline: none;
}

select:hover {
  cursor: pointer;
}
.cart th {
  font-family: "Roboto", Helvetica, "Helvetica Neue", Arial, "Lucida Grande",
    sans-serif;
  font-weight: 400;
  font-size: 0.86667em;
  text-transform: uppercase;
  padding: 27.5px 22px;
}
/* .cart td:first-child,
.cart th:first-child {
  padding-left: 0;
} */
.cart th,
.cart td {
  border: 0;
}
.cart {
  margin: 0 auto;
}
.cart_image {
  max-height: 95px;
  display: block;
  margin: 0 auto;
}
.cart__image-wrapper {
  padding-right: 1.5rem;
  flex: 5rem 0 0;
}

@media only screen and (min-width: 990px) {
  .cart__image-wrapper {
    padding-right: 3rem;
    flex: 9rem 0 0;
  }
  .cart__meta {
    width: 45%;
  }
}
.cart__product-information {
  display: flex;
}

.cart__meta {
  width: 50%;
}
.list-view-item__title {
  min-width: 150px;
  font-style: normal;
  font-weight: 700;
  font-size: 1.13333em;
}

.cart td {
  padding-top: 22px;
  padding-bottom: 22px;
}
.cart_subtotal {
  padding-left: 27.5px;
}

@media only screen and (max-width: 600px) {
  .small--hide {
    display: none;
  }
  .filter-wrapper {
    width: 100% !important;
    justify-content: center;
  }
  #search-form-div {
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 600px) {
  .md--hide {
    display: none;
  }
}

#shop-filter {
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 9px;
  padding-bottom: 8px;
  border: 0 solid transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  height: 55px;
  opacity: 1;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(121, 120, 120) !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(121, 120, 120) !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(121, 120, 120) !important;
}
.thumbnailDiv:hover {
  outline: 2px solid rgba(9, 0, 61, 0.7);
}
/* .sliderImg {
  max-width: 100%;
  height: auto;
} */

.alice-carousel ul li img {
  height: auto;
  /* max-height: 500px; */
  width: 100%;
  object-fit: scale-down;
}

.formLabel {
  @apply text-blue-700;
}
#popup-modal input,
textarea {
  padding: 10px 18px;
  margin-bottom: 1rem;
  @apply text-blue-900;
}
#popup-modal ::placeholder {
  color: lightgray !important;
}
